<section class="auth w-100 h-100 d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-2">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-4">Smart panel</h5>
            {{#if loginError}}
              <div class="alert alert-danger" role="alert">
                 {{loginError}} <i class="fad fa-times text-danger"></i>
              </div>
            {{/if}}
            <form method="post" action="/auth/login">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="email" name="email" placeholder="email" >
                <label for="email">E-poçt</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Şifrə</label>
              </div>
              <div class="d-grid">
               <input type="hidden" value="{{csrf}}" name="_csrf">
                <button class="btn btn-purple btn-login text-uppercase fw-bold w-100 py-3" type="submit">
                  Daxil ol
                </button>
              </div>
              <hr class="my-4">
              <d class="d-flex justify-content-between">
                <a class="text-dark font-weight-bold" href="/auth/register">Qeydiyyat </a>
                <a class="text-dark font-weight-bold" href="/auth/reset">Şifrəni unutmusan ?</a>
              </d>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>