<section class="auth w-100 h-100 d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-2">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-4">Qeydiyyat</h5>
              {{#if registerError}}
                  <div class="alert alert-danger" role="alert">
                        {{registerError}}
                    </div>
              {{/if}}
            <form method="post" action="/auth/register">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="ad" required>
                <label for="name">Ad</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="surname" name="surname" placeholder="soyad" required>
                <label for="surname">Soyad</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                <label for="email">E-poçt</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                <label for="password">Şifrə</label>
              </div>
              <div class="d-grid">
                <input type="hidden" value="{{csrf}}" name="_csrf">
                <button class="btn btn-purple btn-login text-uppercase fw-bold btn-block py-3" type="submit">
                  Qeydiyyatdan keç
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>