<section class="auth w-100 h-100 d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-2">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-4">Şifrəni yenilə</h5>
            <form method="post" action="/auth/reset">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                <label for="email">E-poçt</label>
              </div>
              <div class="d-grid">
                <input type="hidden" value="{{csrf}}" name="_csrf">
                <button class="btn btn-purple btn-login text-uppercase fw-bold w-100 py-3" type="submit">
                  Yenilə
                </button>
              </div>
              <hr class="my-4">
              <d class="d-flex justify-content-between">
                <a class="text-dark font-weight-bold" href="/auth/login">Daxil ol </a>
              </d>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>