<footer class="footer">
      <div class="text-center">
            <a class="site-brand" href="https://smartcode.az">Smart {<span class="text-blue">CODE</span>}
            </a>
      </div>
</footer>

<script src="scripts/jquery-3.5.1.min.js"></script>
<script src="scripts/bootstrap/bootstrap.min.js"></script>
<!--<script src="./scripts/particles.js-2.0.0.js"></script>
<script src="./scripts/three.min.js"></script>-->
<!--<script src="./scripts/aos.min.js"></script>-->
<script src="scripts/script-runner.js"></script>