
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{title}}</title>
      <meta name="keywords" content="sayt sifarisi, web sayt qiymetleri, saytlarin hazirlanmasi, web saytlarin yigilmasi" />
      <meta content="Smartcode şirkəti olaraq müxtəlif sahələr üçün yeni, asan, sürətli ağıllı
                idarəetmə sistemləri təqdim edirik. Təklif etdiyimiz həllər
                işinizin fəaliyyətini daha da yaxşılaşdırmaq və idarəetmə
                prossesini asan etməkdən ibarətdir." name="description" />
      <meta name="theme-color" content="#7e48e5" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta name="author" content="SMARTCODE.AZ">
      <meta name="abstract" content="SMARTCODE.AZ - saytlarin hazirlanmasi, web saytlarin yigilmasi ">
      <meta name="copyright" content="© 2021 SMARTCODE.AZ - Bütün hüquqlar qorunur">
      <meta name="robots" content="index, follow" />
      <title>Smartcode</title>
      <link rel="icon" href="images/10.ico" type="image/x-icon" />
      <link rel="stylesheet" href="/content/css/bootstrap.min.css" />
      <!--<link rel="stylesheet" href="/content/particle.css" />-->
      <link rel="stylesheet" href="/content/scss/style.css" />
    <!--  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="noopener" />-->
      <link rel="stylesheet" href="/content/fonts/fontawesome/css/all.min.css" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="noopener">
</head>