<section class="header-main">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-4 d-flex justify-content-center flex-column order-2 order-md-1">
        <h2 class="headermain-title text-center text-md-start d-none d-md-block">
          Smart {<span id="runnertxt" class="brand-text"></span> }
        </h2>
        <p class="headermain-smallinfo  d-md-block">
          Müasir informasiya sistemlərinin tətbiqi və onların inkişafına
          yeni investisiyaların cəlb edilməsi bir çox problemləri aradan
          qaldırır. “<span class="brand-text">Smartcode</span>”
          şirkəti olaraq müxtəlif sahələr üçün yeni, asan, sürətli ağıllı
          idarəetmə sistemləri təqdim edirik. Təklif etdiyimiz həllər
          işinizin fəaliyyətini daha da yaxşılaşdırmaq və idarəetmə
          prossesini asan etməkdən ibarətdir.
          <span class="d-block mb-2">
                                          Unutmayın, uğurunuz bizim də uğurumuzdur!</span>
<!--          <button class="btn btn-light btn-round shadow-sm" type="submit" name="action">-->
<!--            < Daha çox />-->
<!--          </button>-->
        </p>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2">
        <img src="./images/startup.svg" alt="" class="d-block m-auto" width="80%" />
      </div>
    </div>
  </div>
</section>
<!--
<div id="particles-js" class="particle"></div>-->
