<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header d-flex align-items-center">
      <a class="navbar-brand" href="http://ictimaishura.az">
        <img src="https://ictimaishura.az/images/Logo/Logo1.jpeg" class="navbar-brand-img" alt="public council">
      </a>
      <div class="ml-auto">
        <!-- Sidenav toggler -->
        <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="manageDashboard" class="nav-link" href="/manage/dashboard">
              <i class="fad fa-home text-primary"></i>
              <span class="nav-link-text">İdarə paneli</span>
            </a>
          </li>
          <li class="nav-item">
            <a ID="managePosts"  class="nav-link"href="/manage/posts">
              <i class="fad fa-newspaper text-success"></i>
              <span class="nav-link-text">Xəbərlər</span>
            </a>
          </li>
          <li class="nav-item">
            <a ID="managePosts"  class="nav-link"href="/manage/projects">
              <i class="fad fa-project-diagram text-primary"></i>
              <span class="nav-link-text">Proyektler</span>
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- exit -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a id="manageExit" class="nav-link" href="/auth/logout">
              <i class="far fa-sign-out-alt text-dark"></i>
              <span class="nav-link-text">çixiş</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>