<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="author" content="SMARTCODE.AZ">
  <!-- STYLES -->
  <link rel="stylesheet" href="/content/css/argon-design-system.min.css">
  <link rel="stylesheet" href="/content/css/argon.min.css">
  <!-- FONTS -->
  <link href="/content/fonts/fontawesome/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="/scripts/vendor/nucleo/css/nucleo.css"/>
  <!-- SCRIPTS -->
  <script src="/scripts/core/jquery.js"></script>
  <script src="/scripts/vendor/moment/moment.js"></script>
  <script src="/scripts/plugins/bootstrap-datetimepicker.min.js"></script>
  <script src="/scripts/viewmage.js"></script>
  <script src="/scripts/ckeditor/ckeditor.js"></script>
  <!--  <style>
      .table td, .table th {
        white-space: normal;
        padding: 0.5rem !important;
      }

      .reset-padding {
        padding: 0px !important;
      }

      .reset-marging {
        margin: 0px !important;
      }
    </style>-->

</head>