<!-- Start Script  -->
<script type="text/javascript" src="/scripts/core/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/vendor/js-cookie/js.cookie.js"></script>
<script type="text/javascript" src="/scripts/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="/scripts/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<script type="text/javascript" src="/scripts/core/argon.min.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>

