
<section class="header-nav">
    <nav class="navbar navbar-light bg-light navbar-expand-lg navigation shadow-sm">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://smartcode.az">Smart {<span class="text-blue">CODE</span>}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-md-flex justify-content-md-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link sidenav-link" aria-current="page" href="/">Ana səhifə</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sidenav-link" href="/services">Xidmətlərimiz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sidenav-link" href="/projects">Lahiyələrimiz</a>
            </li>
              <li class="nav-item">
              <a class="nav-link sidenav-link" href="/teams">Komandamız</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sidenav-link" href="/contactus">Əlaqə</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>