<section class="section h-100 d-flex justify-content-center align-items-center">
    <a href="#" class="d-block text-center my-md-4 section-link">
        <span class="text-dark">&lt;</span>
        {{title}}
        <span class="text-dark">/&gt;</span>
    </a>
</section>