<form action="/add" method="post">
      <div class="container-fluid">
            <div class="from-group">
                  <label for="title">Project</label>
                  <input id="title" name="title" type="text" class="form-control">
            </div>
            <div class="from-group">
                  <label for="url">Url</label>
                  <input id="url" name="url" type="text" class="form-control">
            </div>
            <div class="from-group">
                  <label for="url">Img</label>
                  <input id="img" name="img" type="file" class="form-control">
            </div>
      </div>
      <button type="submit" class="btn btn-primary my-4">Add project</button>
</form>