<section class="section my-2 my-md-5" id="smartcontact">
  <div class="smart-contactus">
    <a href="#" class="d-block text-center my-md-4 section-link">
      <span class="text-dark">&lt;</span> Əlaqə
      <span class="text-dark">/&gt;</span>
    </a>
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex align-items-stretch mb-4">
          <div class="contact d-flex justify-content-between flex-column flex-md-row shadow rounded">
            <div class=" py-md-4 p-2 py-md-5 rounded-3 w-75">
              <a class="d-flex align-items-center justify-content-center py-3"
                 href="mailto:info@smartcode.az">
                <i class="far fa-envelope shadow"></i>
                info@smartcode.az
              </a>
            </div>
            <div class=" py-md-4 p-2 py-md-5 rounded-3 w-75">
              <a class="d-flex align-items-center justify-content-center py-3" href="tel:+994517008592">
                <i class="fas fa-mobile-alt shadow"></i>
                (+994)51-700-85-92
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex align-items-stretch">
          <div class="contact shadow rounded-3 py-5 rounded">
            <form action="/contactus/appeal" method="post" class="w-100">
              <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <input name="name_surname" type="text" class="form-control border-0 shadow mb-3 p-3" placeholder="Ad və Soyad" />
                </div>
                <div class="col-12">
                  <input type="email" name="email" class="form-control border-0 shadow mb-3 p-3" placeholder="Elektron poçt adresini daxil edin" />
                </div>
                <div class="col-12">
                    <textarea type="text" name="message" class="form-control border-0 shadow mb-3" placeholder="İsmarıcınızı daxil edin" rows="4"></textarea>
                </div>
                <div class="col-12">
                  <div class="text-center">
                    <input type="hidden" value="{{csrf}}" name="_csrf">
                    <button type="submit" class="btn btn-purple btn-round shadow">
                      İsmarıc göndər
                    </button>
                  </div>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>