{{>header-main}}

<section class="section my-md-5" id="smartservices">
    <div class="smart-services">
        <a href="#" class="d-block text-center my-md-4 section-link">
            <span class="text-dark">&lt;</span> Xidmətlərimiz
            <span class="text-dark">/&gt;</span>
        </a>
        <div class="container">
            <div class="row">
                <div data-aos="fade-down-right" class="col-12 col-sm-6 col-md-4 my-2">
                    <div class="card text-center shadow">
                        <div class="px-4 py-5">
                            <img src="./images/programming.svg" class="w-25 m-auto" alt="porgramming"/>
                        </div>
                        <div class="px-4 pb-5">
                            <h5>Proqramlaşdırma</h5>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-down" class="col-12 col-sm-6 col-md-4 my-2">
                    <div class="card text-center shadow">
                        <div class="px-4 py-5">
                            <img src="./images/webdesing.svg" class="w-25 m-auto" alt="web design"/>
                        </div>
                        <div class="px-4 pb-5">
                            <h5>Veb dizayn</h5>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-down-left" class="col-12 col-sm-6 col-md-4 my-2">
                    <div class="card text-center shadow">
                        <div class="px-4 py-5">
                            <img src="./images/uxui.svg" class="w-25 m-auto" alt="ux ui"/>
                        </div>
                        <div class="px-4 pb-5">
                            <h5>UX/UI dizayn</h5>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up-right" class="col-12 col-sm-6 col-md-4 my-2">
                    <div class="card text-center shadow">
                        <div class="px-4 py-5">
                            <img src="./images/es.svg" class="w-25 m-auto" alt="es"/>
                        </div>
                        <div class="px-4 pb-5">
                            <h5>Elektron xidmətlərin qurulması</h5>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-12 col-sm-6 col-md-4 my-2">
                    <div class="card text-center shadow">
                        <div class="px-4 py-5">
                            <img src="./images/mobile.svg" class="w-25 m-auto" alt="mobile development"/>
                        </div>
                        <div class="px-4 pb-5">
                            <h5>Mobil Tətbiqlər</h5>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up-left" class="col-12 col-sm-6 col-md-4 my-2">
                    <div class="card text-center shadow">
                        <div class="px-4 py-5">
                            <img src="./images/maintance.svg" class="w-25 m-auto" alt="maintance"/>
                        </div>
                        <div class="px-4 pb-5">
                            <h5>Texniki xidmət</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section my-md-5" id="smartprojects">
    <div class="smart-projects">
        <a href="#" class="d-block text-center my-md-4 section-link">
            <span class="text-dark">&lt;</span> Lahiyələrimiz
            <span class="text-dark">/&gt;</span>
        </a>
        <div class="container">
            <div class="row">
                {{#each projects}}
                    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                         class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                        <div class="projects-container rounded shadow d-flex flex-column">
                            <div class="bg-light p-2 d-flex justify-content-between flex-lg-grow-0">
                                <a href="{{url}}" class="d-block text-dark font-weight-bold"
                                   title="{{title}}">
                                    <span>Smart</span>
                                    <span>{</span>
                                    <span class="text-blue">code</span>
                                    <span>}</span>
                                </a>
                                <div class="dots">
                                    <div class="dot"></div>
                                    <div class="dot"></div>
                                    <div class="dot"></div>
                                </div>
                            </div>
                            <div class="img-wrapper flex-lg-grow-1">
                                <img src="/images/projects/{{img}}" alt="{{title}}" class="d-block w-100 h-100"/>
                            </div>
                            <div class="text-wrapper flex-lg-grow-1">
                                <div class="text">
                                    <a target="_blank" class="btn btn-light shadow project-link"
                                       href="{{url}}">{{url}}</a>
                                </div>
                            </div>
                            <div class="bg-light p-2 font-weight-bold flex-lg-grow-1">
                                <p class="m-0">{{title}}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>

<section class="section my-md-5" id="smartcontact">
    <div class="smart-contactus">
        <a href="#" class="d-block text-center my-md-4 section-link">
            <span class="text-dark">&lt;</span> Əlaqə
            <span class="text-dark">/&gt;</span>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 d-flex align-items-stretch">
                    <div class="contact">
                        <div class="shadow py-md-4 p-2 py-5 rounded-3 w-100">
                            <a class="d-flex align-items-center justify-content-center py-3"
                               href="mailto:info@smartcode.az">
                                <i class="far fa-envelope shadow"></i>
                                info@smartcode.az
                            </a>
                        </div>
                        <div class="shadow py-md-4 p-2 py-5 rounded-3 w-100">
                            <a class="d-flex align-items-center justify-content-center py-3" href="tel:+994517008592">
                                <i class="fas fa-mobile-alt shadow"></i>
                                (+994)51-700-85-92
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 d-flex align-items-stretch">
                    <div class="contact shadow rounded-3 py-4">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" class="form-control border-0 shadow mb-3 p-3"
                                           placeholder="Ad və Soyad"/>
                                </div>
                                <div class="col-12">
                                    <input type="email" class="form-control border-0 shadow mb-3 p-3"
                                           placeholder="Elektron poçt adresini daxil edin"/>
                                </div>
                                <div class="col-12">
                                                            <textarea type="text"
                                                                      class="form-control border-0 shadow mb-3"
                                                                      placeholder="İsmarıcınızı daxil edin"
                                                                      rows="4"></textarea>
                                </div>
                                <div class="col-12">
                                    <div class="text-md-end">
                                        <button class="btn btn-purple btn-round shadow">
                                            İsmarıc göndər
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>