<section class="section my-md-5" id="smartprojects">
  <div class="smart-projects">
    <a href="#" class="d-block text-center my-md-4 section-link">
      <span class="text-dark">&lt;</span> {{title}}
      <span class="text-dark">/&gt;</span>
    </a>
    <div class="container">
      <div class="row">
        {{#each projects}}
        <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
          <div class="projects-container rounded shadow d-flex flex-column">
            <div class="bg-light p-2 d-flex justify-content-between flex-lg-grow-0">
              <a href="{{url}}" class="d-block text-dark font-weight-bold"
                 title="{{title}}">
                <span>Smart</span>
                <span>{</span>
                <span class="text-blue">code</span>
                <span>}</span>
              </a>
              <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
            </div>
            <div class="img-wrapper flex-lg-grow-1">
              <img src="/images/projects/{{img}}" alt="{{title}}" class="d-block w-100 h-100" />
            </div>
            <div class="text-wrapper flex-lg-grow-1">
              <div class="text">
                <a target="_blank" class="btn btn-light shadow project-link"
                   href="{{url}}">{{url}}</a>
              </div>
            </div>
            <div class="bg-light p-2 font-weight-bold flex-lg-grow-1">
              <p class="m-0">{{title}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>