<section class="section my-md-5" id="smartservices">
  <div class="smart-services">
    <a href="#" class="d-block text-center my-md-4 section-link">
      <span class="text-dark">&lt;</span> Xidmətlərimiz
      <span class="text-dark">/&gt;</span>
    </a>
    <div class="container">
      <div class="row">
        <div data-aos="fade-down-right" class="col-12 col-sm-6 col-md-4 my-2">
          <div class="card text-center shadow">
            <div class="px-4 py-5">
              <img src="./images/programming.svg" class="w-25 m-auto" alt="porgramming" />
            </div>
            <div class="px-4 pb-5">
              <h5>Proqramlaşdırma</h5>
            </div>
          </div>
        </div>
        <div data-aos="fade-down" class="col-12 col-sm-6 col-md-4 my-2">
          <div class="card text-center shadow">
            <div class="px-4 py-5">
              <img src="./images/webdesing.svg" class="w-25 m-auto" alt="web design" />
            </div>
            <div class="px-4 pb-5">
              <h5>Veb dizayn</h5>
            </div>
          </div>
        </div>
        <div data-aos="fade-down-left" class="col-12 col-sm-6 col-md-4 my-2">
          <div class="card text-center shadow">
            <div class="px-4 py-5">
              <img src="./images/uxui.svg" class="w-25 m-auto" alt="ux ui" />
            </div>
            <div class="px-4 pb-5">
              <h5>UX/UI dizayn</h5>
            </div>
          </div>
        </div>
        <div data-aos="fade-up-right" class="col-12 col-sm-6 col-md-4 my-2">
          <div class="card text-center shadow">
            <div class="px-4 py-5">
              <img src="./images/es.svg" class="w-25 m-auto" alt="es" />
            </div>
            <div class="px-4 pb-5">
              <h5>Elektron xidmətlərin qurulması</h5>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" class="col-12 col-sm-6 col-md-4 my-2">
          <div class="card text-center shadow">
            <div class="px-4 py-5">
              <img src="./images/mobile.svg" class="w-25 m-auto" alt="mobile development" />
            </div>
            <div class="px-4 pb-5">
              <h5>Mobil Tətbiqlər</h5>
            </div>
          </div>
        </div>
        <div data-aos="fade-up-left" class="col-12 col-sm-6 col-md-4 my-2">
          <div class="card text-center shadow">
            <div class="px-4 py-5">
              <img src="./images/maintance.svg" class="w-25 m-auto" alt="maintance" />
            </div>
            <div class="px-4 pb-5">
              <h5>Texniki xidmət</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>