<section class="section">
    <section id="smart-teams" class="smart-teams">
        <div>
            <a href="#" class="d-block text-center my-md-4 section-link">
                <span class="text-dark">&lt;</span>
                {{title}}
                <span class="text-dark">/&gt;</span>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">

                </div>
            </div>
        </div>
    </section>
</section>