<div class="card m-0">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <p>Appeals</p>
    </div>
  </div>
  <div class="card-body">
    {{#if appeals}}
      <table class="table">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Name surname</th>
          <th>Email</th>
          <th>Date</th>
          <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each appeals}}
          <tr>
            <td class="text-center">
              {{@key}}
            </td>
            <td>{{name_surname}}</td>
            <td>{{email}}</td>
            <td>
              <span class="sc-date">{{date}}</span>
            </td>
            <td class="td-actions text-right d-flex justify-content-end">
              <a href="/manage/appeal/{{_id}}/edit?allow=true" class="btn btn-warning btn-icon btn-sm">
                <i class="fad fa-edit"></i>
              </a>
              <form action="/manage/appeal/remove" method="post">
                <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                <input type="hidden" id="id" name="id" value="{{_id}}">
                <button type="submit" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                  <i class="fad fa-times"></i>
                </button>
              </form>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>Post list is empty</p>
    {{/if}}
  </div>
</div>