<div class="card m-0">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <p>Posts</p>
      <a class="btn btn-round btn-sm btn-primary" href="/manage/post">New post</a>
    </div>
  </div>
  <div class="card-body">
    {{#if posts}}
    <table class="table">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Title</th>
        <th>url</th>
        <th>date</th>
        <th class="text-right">Actions</th>
      </tr>
      </thead>
      <tbody>

        {{#each posts}}
          <tr>
            <td class="text-center">
              {{@key}}
            </td>
            <td>{{post_title_az}}</td>
            <td><a target="_blank" href="/manage/post/{{_id}}">/manage/post/{{_id}}</a></td>
            <td>
              <span class="sc-date">{{date}}</span>
            </td>
            <td class="td-actions text-right d-flex justify-content-end">
              <a href="/manage/post/{{_id}}/edit?allow=true" class="btn btn-warning btn-icon btn-sm">
                <i class="fad fa-edit"></i>
              </a>
              <form action="/manage/post/remove" method="post">
                <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                <input type="hidden" id="id" name="id" value="{{_id}}">
                <button type="submit" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                  <i class="fad fa-times"></i>
                </button>
              </form>
            </td>
          </tr>
        {{/each}}

      </tbody>
    </table>
    {{else}}
      <p>Post list is empty</p>
    {{/if}}
  </div>
</div>