<div class="card m-0">
  <div class="card-header">
    <div class="d-flex align-items-center justify-content-between">
      {{#if isNew}}
        <p>New Post</p>
      {{else}}
        <p>{{post.post_title_az}}</p>
      {{/if}}
      <a href="/manage/posts" class="btn btn-round btn-sm btn-danger">Back</a>
    </div>
  </div>
  <div class="card-body">
    <form method="POST" action="{{projectAction}}" enctype="multipart/form-data" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="date">Date</label>
              {{#if isNew}}
                <input id="hiddendate" name="hidendate" type="hidden" value="{{date}}">
                <input id="datepciker" name="date" type="text" class="datetimepicker form-control">
              {{else}}
                <input id="hiddendate" name="hidendate" type="hidden" value="{{project.date}}">
                <input id="datepciker" name="date" type="text" class="datetimepicker form-control">
              {{/if}}
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="" class="h4 text-primary">Bölmə</label>
              <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row"
                    id="tabs-icons-text" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 active"
                       id="tabs-icons-text-1-tab" data-toggle="tab"
                       href="#lang-az" role="tab"
                       aria-controls="tabs-icons-text-1"
                       aria-selected="true">Az</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0"
                       id="tabs-icons-text-2-tab" data-toggle="tab"
                       href="#lang-en" role="tab"
                       aria-controls="tabs-icons-text-2"
                       aria-selected="false">En</a>
                  </li>

                </ul>
              </div>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="lang-az" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                  <div class="form-group">
                    <label for="post_seo_az">SEO Başlıq:Az</label>
                    <input id="post_seo_az" name="post_seo_az" class="form-control" type="text">
                  </div>
                  <div class="form-group">
                    <label for="post_title_az">Post Başlıq:Az </label>
                    <input id="post_title_az" name="post_title_az" class="form-control" type="text">
                  </div>
                  <div class="form-group ">
                    <label for="post_view_az"> Saytda görsənsin:Az</label>
                    <select name="post_view_az" id="post_view_az" class="form-control mb-2 w-10">
                      <option value="true">Bəli</option>
                      <option value="false">Xeyr</option>
                    </select>
                    <textarea name="post_detail_az" id="post_detail_az" rows="10" cols="80" path="/scripts/ckeditor"></textarea>
                  </div>
                </div>
                <div class="tab-pane fade" id="lang-en" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                  <div class="form-group">
                    <label for="post_seo_az">SEO Başlıq:En</label>
                    <input id="post_seo_en" name="post_seo_en" class="form-control" type="text">
                  </div>
                  <div class="form-group">
                    <label for="post_title_en">Post Başlıq:En </label>
                    <input id="post_title_en" name="post_title_en" class="form-control" type="text">
                  </div>
                  <div class="form-group ">
                    <label for="post_view_en"> Saytda görsənsin:En</label>
                    <select name="post_view_en" id="post_view_en" class="form-control mb-2 w-10">
                      <option value="true">Bəli</option>
                      <option value="false">Xeyr</option>
                    </select>
                    <textarea name="post_detail_en" id="post_detail_en" rows="10" cols="80" ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              {{#if isNew}}
                <img id="post_img" class="w-100 d-block rounded shadow-sm" src="/images/photo.png" alt="">
              {{else}}
                <img id="post_img" class="w-100 d-block rounded shadow-sm" src="/images/photo.png" alt="projects/{{project.img}}" alt="">
                <input type="hidden" name="hiddenimg" value="{{project.img}}">
              {{/if}}
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group" style="flex: 1">
              <label for="project_file">File</label>
              <input type="file" id="post_file" name="post_file" class="form-control" style="display: none">
              <input class="form-control" type="text" value="fayl seçilməyib" id="custom_file">
              <div class="text-right my-2">
                <button class="btn btn-success" id="file_btn">Fayl seç</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-content-center">
        {{#if isNew}}
          <button class="btn btn-round btn-primary">Təsdiq et</button>
        {{else}}
          <input type="hidden" name="id" id="id" value="{{project._id}}">
          <input type="hidden" name="_csrf" value="{{csrf}}">
          <button class="btn btn-round btn-warning" type="submit">Dəyiş</button>
        {{/if}}
      </div>
    </form>
  </div>
</div>
