<div class="card m-0">
  <div class="card-header">
   <div class="d-flex justify-content-between align-items-center">
     <p>Projects</p>
     <a class="btn btn-round btn-sm btn-primary" href="/manage/project">New project</a>
   </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Title</th>
        <th>url</th>
        <th>date</th>
        <th class="text-right">Actions</th>
      </tr>
      </thead>
      <tbody>
      {{#if projects}}
        {{#each projects}}
        <tr>
          <td class="text-center">
            {{@key}}
          </td>
          <td>{{title}}</td>
          <td><a target="_blank" href="{{url}}">{{url}}</a></td>
          <td>
            <span class="sc-date">{{date}}</span>
          </td>
          <td class="td-actions text-right d-flex justify-content-end">
              <a href="/manage/project/{{_id}}/edit?allow=true" class="btn btn-warning btn-icon btn-sm">
                <i class="fad fa-edit"></i>
              </a>
            <form action="/manage/project/remove" method="post">
              <input type="hidden" value="{{@root.csrf}}" name="_csrf">
              <input type="hidden" id="id" name="id" value="{{_id}}">
              <button type="submit" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                <i class="fad fa-times"></i>
              </button>
            </form>
          </td>
        </tr>
      {{/each}}
      {{else}}
        <p>Projects list is empty</p>
      {{/if}}
      </tbody>
    </table>
  </div>
</div>