<div class="card m-0">
  <div class="card-header">
   <div class="d-flex align-items-center justify-content-between">
     {{#if isNew}}
       <p>New project</p>
     {{else}}
       <p>{{project.title}}</p>
     {{/if}}
     <a href="/manage/projects" class="btn btn-round btn-sm btn-danger">Back</a>
   </div>
  </div>
  <div class="card-body">
    <form method="POST" action="{{projectAction}}" enctype="multipart/form-data" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="title">Title</label>
              <input id="title" name="title" type="text" value="{{project.title}}" class="form-control">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="date">Date</label>
              {{#if isNew}}
                <input id="hiddendate" name="hidendate" type="hidden" value="{{date}}">
                <input id="datepciker" name="date" type="text" class="datetimepicker form-control">
              {{else}}
                <input id="hiddendate" name="hidendate" type="hidden" value="{{project.date}}">
                <input id="datepciker" name="date" type="text" class="datetimepicker form-control">
              {{/if}}
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="url">Url</label>
              <input id="url" name="url" type="text" value="{{project.url}}" class="form-control">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <img class="w-100 d-block" src="/images/projects/{{project.img}}" alt="">
              <input type="hidden" name="hiddenimg" value="{{project.img}}">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group" style="flex: 1">
              <label for="project_file">File</label>
              <input type="file" id="postimg" name="post_file" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-content-center">
        {{#if isNew}}
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn btn-round btn-primary">Təsdiq et</button>
        {{else}}
            <input type="hidden" name="_csrf" value="{{@root.csrf}}">
            <input type="hidden" name="id" id="id" value="{{project._id}}">
            <button class="btn btn-round btn-warning" type="submit">Dəyiş</button>
        {{/if}}
      </div>
    </form>
  </div>
</div>
