* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.bg-blue {
  background-color: #0d47a1 !important;
}

.text-blue {
  color: #0d47a1 !important;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.text-light-blue {
  color: #039be5 !important;
}

.btn-purple {
  background-color: #7e48e5 !important;
  color: #FFFFFF !important;
}

.btn-round {
  border-radius: 10rem;
}

.particle {
  background-color: #0d47a1;
}

.site-brand {
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
}

.header {
  position: relative;
  border-bottom: 3px solid #7e48e5;
}
.header .header-nav .navigation {
  background-color: #ffffff !important;
}
.header .header-nav .navigation .navbar-brand {
  color: #000000;
  font-weight: 600;
  font-size: 1.4rem;
}
.header .header-nav .navigation .sidenav-link {
  font-size: 1.1rem;
  color: #000000;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
  transition: all 0.3s linear;
  position: relative !important;
  margin: 0rem 0.5rem;
}
.header .header-nav .navigation .sidenav-link:hover {
  background-color: #ffffff;
  color: #0d47a1;
}
.header .header-nav .navigation .sidenav-link:hover:after {
  content: "/>" !important;
  position: absolute;
  margin-left: 0.3rem;
  color: #000000;
}
.header .header-nav .navigation .sidenav-link:hover:before {
  content: "<" !important;
  position: absolute;
  margin-left: -1rem;
  color: #000000;
}

.header-main {
  /* padding: 5rem 0rem;*/
  margin: 1rem 0rem !important;
}
.header-main .brand-text {
  color: #0d47a1;
}
.header-main .headermain-title {
  font-size: 3rem;
  color: #0a0c0d;
  font-weight: 600;
}
.header-main .headermain-smallinfo {
  font-size: 1.2rem;
  color: black;
  width: 90%;
  font-weight: 500;
  word-spacing: 0.4rem;
}

.section .card {
  border-radius: 10px !important;
  transition: all 0.2s ease;
  border: 3px solid #FFFFFF;
  cursor: pointer;
}
.section .card img {
  transition: all 0.5s ease-in-out;
}
.section .card:hover {
  margin-top: -0.5rem;
  border: 3px solid #7e48e5;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.section .card:hover img {
  transform: rotate(360deg);
}
.section .section-link {
  font-weight: 600;
  font-size: 1.7rem;
  color: #0d47a1;
}
.section .section-link svg {
  transition: all 0.3s ease;
}
.section .smart-projects .projects-container {
  position: relative;
  background-color: #0d47a1;
  border-radius: 10px !important;
  transition: all 0.2s ease;
  cursor: pointer;
  z-index: 1;
  margin: 1rem 0rem;
}
.section .smart-projects .img-wrapper {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 1;
}
.section .smart-projects .text-wrapper {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.section .smart-projects .projects-container:hover .img-wrapper {
  opacity: 0.1;
}
.section .smart-projects .projects-container:hover .text-wrapper {
  opacity: 1;
}
.section .smart-projects .text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.section .smart-projects .project-link {
  border-radius: 10rem !important;
}
.section .smart-projects div {
  z-index: 2;
}
.section .smart-contactus .contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section .smart-contactus .contact a {
  color: #000000;
}
.section .smart-contactus i, .section .smart-contactus svg {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  background-color: #7e48e5;
  color: #FFFFFF;
}

.dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dots .dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #7e48e5;
  margin: 0rem 0.2rem;
}

.footer {
  border-top: 3px solid #7e48e5;
  padding: 1rem 0rem;
}

@media (min-width: 768px) {
  .section .section-link {
    font-weight: 600;
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
