canvas {
      height: 100%;
      display: block;
      vertical-align: bottom;
    }
    
    /* ---- particles.js container ---- */
    #particles-js {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    
    /* ---- stats.js ---- */
    .count-particles {
      background: #000022;
      position: absolute;
      top: 48px;
      left: 0;
      width: 80px;
      color: #13e8e9;
      font-size: 0.8em;
      text-align: left;
      text-indent: 4px;
      line-height: 14px;
      padding-bottom: 2px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
    }
    
    .js-count-particles {
      font-size: 1.1em;
    }
    
    #stats,
    .count-particles {
      //-webkit-user-select: none;
      margin-top: 5px;
      margin-left: 5px;
    }
    
    #stats {
      border-radius: 3px 3px 0 0;
      overflow: hidden;
    }
    
    .count-particles {
      border-radius: 0 0 3px 3px;
    }
    